.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Galano Grotesque", sans-serif; /* Apply font to the navbar */
}

.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Galano Grotesque", sans-serif; /* Ensure font is applied to the entire menu */
  
}

.explore-menu h1 {
  color: #262626;

  font-family: "Galano Grotesque", sans-serif; /* Apply font to headings */
}

.explore-menu-text {
  max-width: 60%;
  color: #808080;
  font-family: "Galano Grotesque", sans-serif; /* Apply font to the text */
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
  font-family: "Galano Grotesque", sans-serif; /* Apply font to the list */
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s;
}

.explore-menu-list-item .active {
  border: 4px solid tomato;
  padding: 2px;
}

.explore-menu-list-item p {
  margin-top: 10px;
  color: #747474;
  font-size: max(1.4vw, 16px);
  cursor: pointer;
  font-family: "Galano Grotesque", sans-serif; /* Apply font to item text */
}

.explore-menu hr {
  margin: 10px 0px;
  height: 2px;
  background-color: #e2e2e2;
  border: none;
}

.explore-menu-list {
  display: flex;
  overflow-x: auto; /* Allow horizontal scrolling */
  space-x: 4; /* Add horizontal spacing */
}

/* Add any other styles you need */

.explore-menu-list img {
  transition: transform 0.3s ease; /* Smooth transition */
  display: block; /* Remove any inline space */
}

.explore-menu-list img:hover {
  transform: scale(1.1); /* Scale up on hover */
}

@media (max-width: 1050px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
    font-family: "Galano Grotesque", sans-serif; /* Apply font to the text */
  }
}
